<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.quietly.system.mapper.DictDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.quietly.system.entity.DictData">
    <result column="ID" property="id" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="DICT_TYPE_ID" property="dictTypeId" />
    <result column="NAME" property="name" />
    <result column="CODE" property="code" />
    <result column="SEQ" property="seq" />
    <result column="DESCRIPTION" property="description" />
    <result column="DELETED" property="deleted" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dictData.ID,
        dictData.CREATE_BY,
        dictData.CREATE_TIME,
        dictData.UPDATE_BY,
        dictData.UPDATE_TIME,
        dictData.DICT_TYPE_ID,
        dictData.NAME,
        dictData.CODE,
        dictData.SEQ,
        dictData.DESCRIPTION,
        dictData.DELETED
    </sql>

    <select id="selectByDictTypeCode" parameterType="java.io.Serializable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from QTL_DICT_DATA dictData
        left join QTL_DICT_TYPE dictType on dictData.DICT_TYPE_ID = dictType.ID
        <where>
            dictType.CODE = #{code}
        </where>
    </select>

</mapper>
